/* font imports */

@font-face {
  font-family: "SerialB-Regular";
  src: url("assets/fonts/SerialBTrial-Regular.otf");
}

@font-face {
  font-family: "SerialB-Light";
  src: url("assets/fonts/SerialBTrial-Light.otf");
}

@font-face {
  font-family: "SerialB-Bold";
  src: url("assets/fonts/SerialBTrial-Bold.otf");
}

@media (min-width: 1001px) {

/* base layout settings */

  * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

  html, body {
    min-height: 100vh;
  }

  /* grid system

  intro = top left section
  image = photo box
  services, brands, shop, and follow each in their own div

   */

  #wrapper {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(12, 1fr);
    column-gap: 0px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #FFB511;
    height: 100vh;
  }

  #intro {
    grid-column: 1 / 5;
    grid-row: 1 / 13;
    border-right: solid 2px #000000;
    background-color: #F6F6F4;
    overflow: scroll;
  }

  #intro::-webkit-scrollbar {
    width: 2px;
    height: 0px;             /* width of the entire scrollbar */
  }

  #intro::-webkit-scrollbar-track {
    background: black;
    background-color: #F6F6F4;
  }

  #intro::-webkit-scrollbar-thumb {
    background-color: #FFB511;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }

  #image {
    grid-column: 5 / 17;
    grid-row: 1 / 8;
    background-color: #000000;
    border-bottom: solid 2px #000000;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #services {
    grid-column: 5 / 9;
    grid-row: 8 / 13;
    background-color: #FFB511;
  }

  #brands {
    grid-column: 9 / 11;
    grid-row: 8 / 13;
    background-color: #FFB511;
    margin-left: -24px;
  }

  #shop {
    grid-column: 11 / 13;
    grid-row: 8 / 13;
    background-color: #FFB511;
    margin-left: -24px;
  }

  #follow {
    grid-column: 13 / 17;
    grid-row: 8 / 13;
    background-color: #FFB511;
  }

  h3 {
    font-family: "SerialB-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 108.1%;
    text-transform: uppercase;
    color: #000000;
  }

  p {
    font-family: "SerialB-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 108.1%;
    text-transform: uppercase;
    color: #000000;
  }

  #intro-text {
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    max-width: 90%;
  }

  ul, li {
    font-family: "SerialB-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 108.1%;
    text-transform: uppercase;
    color: #000000;
  }

  a {
    font-family: "SerialB-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 108.1%;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    transition: 200ms;
  }


  a:hover {
    color: #8E8E8E;
    transition: 200ms;
  }

  li.friends {
    list-style-type: none;
  }

  li.friends:hover {
    opacity: 100%;
    color: #8E8E8E;
    transition: 200ms;
  }

  #friends-list {
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    max-width: 80%;
    padding-bottom: 8px;
  }

  .arrow {
    display: inline;
    color: #8E8E8E;
    opacity: 0%;
    transition: 200ms;
  }

  h3.title {
      margin-left: 14px;
      margin-top: 14px;
      font-family: "SerialB-Bold";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 108.1%;
      text-decoration-line: underline;
      text-underline-offset: 2px;
      text-transform: uppercase;
  }

ul.services {
      max-width: 300px;
  }

  li.services {
      list-style-type: none;
      list-style-position: inside;
      margin-top: 8px;
      margin-left: 14px;
      margin-right: 14px;
      max-width: 300px;
  }

  ul+ li {
    margin-top: 14px;
  }

  ul.brands {
    margin-top: 14px;
    margin-right: 0px;
    width: fit-content;
    float: left;
  }

  li.brands {
      list-style-type: none;
      list-style-position: inside;
      margin-left: 14px;
      margin-right: 40px;
      width: fit-content;
  }

  a.follow {
    display: block;
    margin-left: 14px;
    margin-top: 4px;
  }

  h3 + ul {
    margin-top: 14px;
  }

  h3 + p {
    margin-top: 4px;
  }

  p.shop-info {
    margin-top: 14px;
    margin-left: 14px;
  }

  h3 + a.follow {
    margin-top: 14px;
  }
}

@media (max-width: 1000px) {
  * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

  html, body {
    min-height: 100vh;
  }

  #wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 0px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #FFB511;
  }

  #intro {
    grid-column: 1 / 7;
    background-color: #F6F6F4;
    border: none;
  }

  #intro-text {
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 24px;
  }

  #image {
    grid-column: 1 / 7;
    background-color: #000000;
    border-bottom: solid 2px #000000;
  }

  img {
    height: fit-content;
    width: 100%;
    object-fit: cover;
    max-height: 400px;
  }

  #services {
    grid-column: 1 / 7;
    background-color: #FFB511;
    margin-top: 24px;
    margin-left: 12px;
    margin-right: 12px;
  }

  #brands {
    grid-column: 1 / 7;
    background-color: #FFB511;
    margin-top: 24px;
    margin-left: 12px;
    margin-right: 12px;
  }

  #shop {
    grid-column: 1 / 7;
    background-color: #FFB511;
    padding-bottom: 24px;
    margin-top: 24px;
    margin-left: 12px;
    margin-right: 12px;
  }

  #follow {
    grid-column: 1 / 7;
    background-color: #FFB511;
    padding-bottom: 24px;
    margin-top: 24px;
    margin-left: 12px;
    margin-right: 12px;
  }

  h3 {
    font-family: "SerialB-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 108.1%;
    text-transform: uppercase;
    color: #000000;
    max-width: 480px;
  }


  p {
    font-family: "SerialB-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 108.1%;
    text-transform: uppercase;
    color: #000000;
  }

  ul, li {
    font-family: "SerialB-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 108.1%;
    text-transform: uppercase;
    color: #000000;
  }

  a {
    font-family: "SerialB-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 108.1%;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    transition: 200ms;
  }

  a:hover {
    color: #8E8E8E;
    transition: 200ms;
  }

  li.friends {
    list-style-type: none;
  }

  li.friends:hover {
    opacity: 100%;
    color: #8E8E8E;
    transition: 200ms;
  }

  #friends-list {
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 24px;
  }

  .arrow {
    display: inline;
    color: #8E8E8E;
    opacity: 0%;
    transition: 200ms;
  }

  h3.title {
      margin-left: 14px;
      margin-top: 14px;
      font-family: "SerialB-Bold";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 108.1%;
      text-decoration-line: underline;
      text-underline-offset: 2px;
      text-transform: uppercase;
  }

  li.services {
      list-style-type: none;
      list-style-position: inside;
      margin-top: 8px;
      margin-left: 14px;
      margin-right: 14px;
      max-width: 400px;
  }

  ul + li {
    margin-top: 14px;
  }

  ul.brands {
    margin-top: 14px;
    margin-right: 0px;
    width: fit-content;
    float: left;
  }

  li.brands {
      list-style-type: none;
      list-style-position: inside;
      margin-left: 14px;
      margin-right: 40px;
      width: fit-content;
  }

  a.follow {
    display: block;
    margin-left: 14px;
    margin-top: 4px;
  }

  h3 + ul {
    margin-top: 14px;
  }

  h3 + p {
    margin-top: 4px;
  }

  p.shop-info {
    margin-top: 14px;
    margin-left: 14px;
  }

  h3 + a.follow {
    margin-top: 14px;
  }

}
